* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
}
.container  {
    text-align: center;
}
img {
    width: 100%;
    height: auto;
    opacity: 90%;
}
img:hover {
    opacity: 1; 
}
.img-container {
    position: relative;
    width: 400px;
    display: inline-block;
}
@media screen and (max-width: 425px) {
    body {
        width: fit-content;
    }
    .img-container {
        width: 80%;
    } 
}
.btn-video {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -70%);
    background-color: #555;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    outline: none;
}
.btn-video:hover {
    background-color: black;
}
.badge {
    position: absolute;
    top: 16px;
    left: 17px;
    padding: 5px 10px;
    border-radius: 8px;
    background: black;
    color: white;
    transform: rotate(-30deg);
}
.player {
    width: 85%;
    height: fit-content;
    margin: 10px auto;
}
#video {
    width: 100%;
    
    position: relative;
    background-color: lightgray;
    object-fit: cover;
}
@media screen and (max-width: 425px) {
    #video {
        height: 325px;
    }
}
@media screen and (min-width: 426px) {
    #video {
        height: 225px;
    }
}
@media screen and (min-width: 526px) {
    #video {
        height: 300px;
    }
}
@media screen and (min-width: 626px) {
    #video {
        height: 325px;
    }
}
@media screen and (min-width: 726px) {
    #video {
        height: 400px;
    }
}
@media screen and (min-width: 826px) {
    #video {
        height: 425px;
    }
}
@media screen and (min-width: 926px) {
    #video {
        height: 500px;
    }
}
@media screen and (min-width: 1026px) {
    #video {
        height: 525px;
    }
}
@media screen and (min-width: 1126px) {
    #video {
        height: 600px;
    }
}
@media screen and (min-width: 1226px) {
    #video {
        height: 625px;
    }
}
.controls {
    background-color: black;
    overflow: hidden;
    position: relative;
    top: -9px;
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: center; 
}
.progressBar {
    height: 2px;
    background-color: #4B515D;
    position: relative;
    top: -12px;
    width: 0%;
    transition: width 0.5s linear;
}
.btn-contrl {
    float: left;
    color: white;
    text-align: center;
    padding: 0 5px;
    font-size: 12px;
    border-radius: 0%;
    background-color: black;
    border-color: black;
    height: 40px;
    outline: none;
    width: 83px;
}
.btn-contrl:hover {
    background-color: lightslategrey;
    border-left: lightslategray;
}
#volumeInc, #volumeDecr, #volumeRange, #fullScreen {
    float: right;
}
#volumeRange {
    width: 50px;
}